@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 400px;
  height: 600px;
  background-color: #f8fafc;
}

.btn-primary {
  @apply px-3 py-1.5 rounded-md uppercase flex items-center justify-center bg-indigo-500 text-white hover:bg-indigo-600 transition-colors duration-300 ease-in;
}
